html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}


*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    min-height: 100%;
    background-color: #dfe6e9;
}

@media (max-width: 999px) {
    #mobile {
        display: block !important;
    }
}

img {
    /*    border: solid black 3px;
    *//*    border-radius: 6px;
    */    max-width: 100%;
}

html {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.column {
    flex-grow: 1;
    flex-shrink: 0;
}

#desktop .column {
    width: 33.333333%;
}

.pallete-container {
    padding: 1em;

}

.material-color-picker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: #dfe6e9;
    border-radius: 0.5em;

}
.material-color-picker__left-panel {
    z-index: 1;
}
.material-color-picker__right-panel {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden;
}

.color-selector {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1em 0;
    border-right: 0.25em solid #dfe6e9;
}
.color-selector input[type='radio'] {
    display: none;
}
.color-selector label {
    position: relative;
    display: inline-block;
    padding: 0.5em 1.5em;
    cursor: pointer;
}
.color-selector label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    padding: 0.75em;
    background-color: currentColor;
    border-radius: 50%;
}
.color-selector label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0.5em;
    border: 0.25em solid;
    border-radius: 50%;
    -webkit-transition: padding 250ms;
    transition: padding 250ms;
}

.color-selector .selected label:after {
    border: 0.25em solid #000;
}

.color-selector input[type='radio']:checked + label:after {
    padding: 1em;
}

.color-palette-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.5em;

}
.color-palette-wrapper.js-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.color-palette-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 1em;
    font-weight: 400;
    color: #dfe6e9;
}

.color-palette {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.color-palette__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0.25em 0;
    padding: 0 1em;
    border-radius: 0.25em;
    font-family: "Roboto Mono", monospace;
    -webkit-transition: -webkit-transform 250ms;
    transition: -webkit-transform 250ms;
    transition: transform 250ms;
    transition: transform 250ms, -webkit-transform 250ms;
    cursor: pointer;
}

.color-palette__item.selected {
    border: 4px solid #000;
}

.color-palette__item:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.copied-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 0;
    -webkit-transition: all 250ms;
    transition: all 250ms;
}
.copied-indicator.js-copied {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.75;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#main-container {
    margin: auto;
    width: 1100px;
    padding: 40px;
}

#chart-controls {
    float: left;
    width: 400px;
    margin: 10px;
    padding-top: 50px;
}

#pie {
    float: right;
}

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
    padding: 3px 3px;
}

li h4 {
    line-height: 2;
    display: inline;
}

button {
    margin-top: 10px;
}

td {
    padding: 5px;
}

td.edit {
    padding: 10px;
    border: thick white solid;
}

body {
    font-family: sans-serif;
    padding: 40px;
}

input.range {
    width: 250px;
}

.range-slider input.input-range {
    -webkit-appearance: none;
    width: 300px;
    height: 10px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
}
.range-slider input.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #353535;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider input.input-range::-webkit-slider-thumb:hover {
    background: #e06161;
}
.range-slider input.input-range:active::-webkit-slider-thumb {
    background: #e06161;
}
.range-slider input.input-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #353535;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider input.input-range::-moz-range-thumb:hover {
    background: #e06161;
}
.range-slider input.input-range:active::-moz-range-thumb {
    background: #e06161;
}
.range-slider .range-value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #353535;
    padding: 5px 10px;
    margin-left: 7px;
    float: right;
    margin-right: 32px;
    margin-top: -20px;
}
.range-slider .range-value:after {
    position: absolute;
    top: 8px;
    left: -6px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #353535;
    border-bottom: 7px solid transparent;
    content: '';
}

path.slice {
    opacity: .7;
}

.edit {
    opacity: .7;
    text-align: center;
    background-size: cover;
    color: white;
}

text.label {
    opacity: .5;
    font-size: 1.5em;
    color: black;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(255, 255, 255, 0.3);
}

polyline {
    opacity: .15;
    stroke: black;
    stroke-width: 1px;
    fill: none;
}

::-moz-range-track {
    background: #ccc;
    border: 0;
}

input::-moz-focus-inner {
    border: 0;
}

#pieImage {
    width: 550px;
    height: 550px;
    background: url(http://i42.tinypic.com/22zsyc.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    margin-top: 60px;
    margin-right: 25px;
}

.HideOnLoad {
    opacity: 0;
}



/* Test Tube */

/*:after,:before{content:" "; position:absolute;display:block;}*/
ul {
    list-style-type: none;
}

/**Dimensions **/
.rack {
    margin: auto;
    min-width: 420px;
    width: 420px;
    text-align: justify;
    font-size: 0.1px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.test_tube_bottom {
    -webkit-border-bottom-left-radius: 50% 5%;
    -moz-border-radius-bottomleft: 50% 5%;
    border-bottom-left-radius: 50% 5%;
    -webkit-border-bottom-right-radius: 50% 5%;
    -webkit-background-clip: padding-box;
    -moz-border-radius-bottomright: 50% 5%;
    -moz-background-clip: padding;
    border-bottom-right-radius: 50% 5%;
    background-clip: padding-box;
}
li.tube {
    min-width: 35px;
    width: 35px;
    border: solid black 3px;
    border-top-width: thick;
    position: relative;
    display: inline-block;
    height: 240px;
    top: -39px;
    background: -moz-linear-gradient(left, rgba(254, 255, 255, 0.5) 0%, rgba(221, 241, 249, 0.5) 35%, rgba(201, 227, 237, 0.5) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(254, 255, 255, 0.5)), color-stop(35%, rgba(221, 241, 249, 0.5)), color-stop(100%, rgba(201, 227, 237, 0.5)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(254, 255, 255, 0.5) 0%, rgba(221, 241, 249, 0.5) 35%, rgba(201, 227, 237, 0.5) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(254, 255, 255, 0.5) 0%, rgba(221, 241, 249, 0.5) 35%, rgba(201, 227, 237, 0.5) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(254, 255, 255, 0.5) 0%, rgba(221, 241, 249, 0.5) 35%, rgba(201, 227, 237, 0.5) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(254, 255, 255, 0.5) 0%, rgba(221, 241, 249, 0.5) 35%, rgba(201, 227, 237, 0.5) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80feffff', endColorstr='#80c9e3ed', GradientType=1);
    /* IE6-9 */
    -webkit-border-bottom-left-radius: 50% 5%;
    -moz-border-radius-bottomleft: 50% 5%;
    border-bottom-left-radius: 50% 5%;
    -webkit-border-bottom-right-radius: 50% 5%;
    -moz-border-radius-bottomright: 50% 5%;
    border-bottom-right-radius: 50% 5%;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius-topright: 3px;
    -moz-background-clip: padding;
    border-top-right-radius: 3px;
    background-clip: padding-box;
    overflow: hidden;
    margin: 5px auto;
}
.liquid {
    position: absolute;
    width: 82%;
    bottom: 3px;
    margin: 0 auto;
    left: 1px;
    right: 0;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    background-clip: padding-box;
    transition: height 0.3s ease-in;
}
.blood {
    background-color: rgba(255, 0, 0, 0.5);
    height: 75%;
}

.water {
    background-color: rgba(200, 230, 255, 0.9);
    height: 50%;
}
.green {
    background-color: rgba(200, 255, 200, 0.8);
    height: 70%;
}
.yellow {
    background-color: rgba(242, 226, 104, 0.6);
    height: 65%;
}
.pink {
    background-color: rgba(180, 180, 255, 0.9);
    height: 50%;
}
/** Colours **/
.glass {
    background: -moz-linear-gradient(left, rgba(254, 255, 255, 0.8) 0%, rgba(221, 241, 249, 0.8) 35%, rgba(201, 227, 237, 0.8) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(254, 255, 255, 0.8)), color-stop(35%, rgba(221, 241, 249, 0.8)), color-stop(100%, rgba(201, 227, 237, 0.8)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(254, 255, 255, 0.8) 0%, rgba(221, 241, 249, 0.8) 35%, rgba(201, 227, 237, 0.8) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(254, 255, 255, 0.8) 0%, rgba(221, 241, 249, 0.8) 35%, rgba(201, 227, 237, 0.8) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(254, 255, 255, 0.8) 0%, rgba(221, 241, 249, 0.8) 35%, rgba(201, 227, 237, 0.8) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(254, 255, 255, 0.8) 0%, rgba(221, 241, 249, 0.8) 35%, rgba(201, 227, 237, 0.8) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80feffff', endColorstr='#80c9e3ed', GradientType=1);
    /* IE6-9 */
}

.slider {
    border-radius: 5px;
    background: #ccc;
    outline: none;
    position: absolute;
    top: 0;
    display: inline-block;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 100%;
    height: 100%;
    opacity: 0;
}


h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 32px;
    padding: 10px 10px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}
h1.elegantshadow {
    color: #131313;
    background-color: #e7e5e4;
    letter-spacing: .15em;
    text-shadow: 1px -1px 0 #767676,  -1px 2px 1px #737272,  -2px 4px 1px #767474,  -3px 6px 1px #787777,  -4px 8px 1px #7b7a7a,  -5px 10px 1px #7f7d7d,  -6px 12px 1px #828181,  -7px 14px 1px #868585,  -8px 16px 1px #8b8a89,  -9px 18px 1px #8f8e8d,  -10px 20px 1px #949392,  -11px 22px 1px #999897,  -12px 24px 1px #9e9c9c,  -13px 26px 1px #a3a1a1,  -14px 28px 1px #a8a6a6,  -15px 30px 1px #adabab,  -16px 32px 1px #b2b1b0,  -17px 34px 1px #b7b6b5,  -18px 36px 1px #bcbbba,  -19px 38px 1px #c1bfbf,  -20px 40px 1px #c6c4c4,  -21px 42px 1px #cbc9c8,  -22px 44px 1px #cfcdcd,  -23px 46px 1px #d4d2d1,  -24px 48px 1px #d8d6d5,  -25px 50px 1px #dbdad9,  -26px 52px 1px #dfdddc,  -27px 54px 1px #e2e0df,  -28px 56px 1px #e4e3e2;
}
h1.deepshadow {
    color: #e0dfdc;
    background-color: #333;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}
h1.insetshadow {
    color: #202020;
    background-color: #2d2d2d;
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px #111,  2px 2px 1px #363636;
}
h1.retroshadow {
    color: #2c2c2c;
    background-color: #d5d5d5;
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

.masonry { /* Masonry container */
    column-count: 3;
    column-gap: 20px;
}

.item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 15px;
    width: 100%;
    height: auto;
}

@import url(https://fonts.googleapis.com/css?family=Exo);
body {
    font-family: 'Exo', sans-serif;
    /*background: url('https://i.imgur.com/P9KDS9J.png') no-repeat fixed center center / cover;*/
}

.sectiona {
    top: 30%;
    left: 50%;
    position: absolute;
    max-width: 440px;
    transform: translateX(-50%);
    display: block;
}

.msg {
    border-top: 3px solid #fa4242;
    border-bottom: 3px solid #fa4242;
    padding: 0.75em 0 1em;
    display: block;
    text-align: center;
}

.banner {
    text-align: center;
    background: #fa4242;
    box-shadow: 0 8px #fa4242;
    width: 160px;
    padding-top: 8px;
    padding-bottom: 5px;
    margin: auto;
    display: block;
    color: #fff;
}



/*@import url(https://fonts.googleapis.com/css?family=Oswald:400);

body {
  font-size: 1em;
  font-family: 'Oswald', 'Helvetica Neue', Helvetica;
  line-height: 1.4;
}

.banner {
  position: relative;
  z-index: 1;
  margin: 80px auto;
  width: 330px;
}

.banner .line {
  margin: 0 0 10px;
  width: 100%;
  height: 78px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 78px;
  transform: skew(0, -15deg);
}

.banner .line:after,
.banner .line:first-child:before {
  position: absolute;
  top: 44px;
  left: 0;
  z-index: -1;
  display: block;
  width: 330px;
  height: 78px;
  border-radius: 4px;
  background: rgba(180,180,180,0.8);
  content: '';
  transform: skew(0, 15deg);
}

.banner .line:first-child:before {
  top: -10px;
  right: 0;
  left: auto;
}

.banner .line:first-child:before,
.banner .line:last-child:after {
  width: 0;
  height: 0;
  border-width: 38px;
  border-style: solid;
  border-color: rgba(180,180,180,0.8) rgba(180,180,180,0.8) transparent transparent;
  background: transparent;
}

.banner .line:last-child:after {
  top: 12px;
  border-color: transparent transparent rgba(180,180,180,0.8) rgba(180,180,180,0.8);
}

.banner span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: rgba(255,255,255,0.9);
  color: #666;
  text-shadow: 1px 1px 0 #444;
}*/